<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}" type="text/css"> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Paw Rescue Center</title>
</head>

<body>
    <h1 class="title">About Us!</h1>
    <p>We are a non-profit organization working as an animal rescue center. We aim to help you connect with the purrfect furbaby for you! The animals you find at our website are rescue animals which have been rehabilitated. Our mission is to promote the
        ideology of "Adopt, don't Shop"!</p>
</body>

</html>